@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.glass {
  border-radius: 14px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.maintextcolor {
  color: transparent;
  background-clip: text;
  background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

::-webkit-scrollbar {
  width: 0;
}